In [1]:
path_college = '../../capstone_project_1/college-passing-statistics/'
path_data = '../../capstone_project_1/data/'
path_nfl = '../../capstone_project_1/nfl-passing-statistics/'

In [2]:
%matplotlib inline
import pandas as pd
import statistics
import numpy as np
import os
import glob

# Create Testing Data

### College

In [3]:
college_passing = pd.concat(map(pd.read_csv, glob.glob(path_college + 'college*.csv')),sort = True)

In [4]:
#split player names out
player_names = college_passing['Player']
player_names = player_names.iloc[:].str.split('*', n=1, expand=True)
player_names = player_names.iloc[:, 0].str.split('\\', n=1, expand = True)
player_names = player_names.drop([1], axis=1)
player_names = player_names.rename(columns={0:'Player'})

In [5]:
college_passing['Player'] = player_names['Player']

In [6]:
college_passing = college_passing.set_index(['Player']).sort_index()

In [7]:
college_passing

,AY/A,Att,Cmp,Conf,G,Int,Pct,Rate,Rk,School,TD,Y/A,Yds
Player,,,,,,,,,,,,,
A.J. Doyle,3.8,235,128,MAC,11,11,54.5,99.1,101,Massachusetts,6,5.4,1274
A.J. Erdely,7.3,338,205,CUSA,13,4,60.7,131.8,70,UAB,16,6.9,2331
A.J. Feeley,7.6,259,136,Pac-10,10,6,52.5,129.0,35,Oregon,14,7.5,1951
A.J. McCarron,10.8,314,211,SEC,14,3,67.2,175.3,4,Alabama,30,9.3,2933
A.J. McCarron,8.3,328,219,SEC,13,5,66.8,147.3,24,Alabama,16,8.0,2634
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zack Threadgill,7.0,451,275,WAC,12,17,61.0,136.1,21,Nevada,26,7.6,3418
Zak Clark,5.3,179,88,SEC,10,4,49.2,102.7,98,Arkansas,6,5.6,1000
Zak Kustok,6.5,404,231,Big Ten,11,10,57.2,124.5,68,Northwestern,20,6.7,2692
Zak Kustok,6.8,363,206,Big Ten,12,7,56.7,125.4,64,Northwestern,19,6.6,2389
Zebbie Lethridge,6.0,261,134,Big 12,11,4,51.3,108.1,84,Texas Tech,6,6.2,1622

In [8]:
#total td
qb_td = college_passing['TD']
qb_td = qb_td.groupby(qb_td.index).sum()
#total int
qb_int = college_passing['Int']
qb_int = qb_int.groupby(qb_int.index).sum()
#total yds
qb_yds = college_passing['Yds']
qb_yds = qb_yds.groupby(qb_yds.index).sum()
#total games
qb_games = college_passing['G']
qb_games = qb_games.groupby(qb_games.index).sum()
#total att
qb_att = college_passing['Att']
qb_att = qb_att.groupby(qb_att.index).sum()
#total cmp
qb_cmp = college_passing['Cmp']
qb_cmp = qb_cmp.groupby(qb_cmp.index).sum()

In [9]:
#qb stats, replace necessary columns with totals
career_stats = college_passing.groupby(college_passing.index).mean().round(1)
career_stats['TD'] = qb_td
career_stats['Int'] = qb_int
career_stats['Yds'] = qb_yds
career_stats['G'] = qb_games
career_stats['Att']  = qb_att
career_stats['Cmp'] = qb_cmp

In [10]:
career_stats = career_stats.drop(['Rk'], axis=1)

In [11]:
career_stats

                  AY/A   Att  Cmp   G  Int   Pct   Rate  TD  Y/A   Yds
Player
A.J. Doyle         3.8   235  128  11   11  54.5   99.1   6  5.4  1274
A.J. Erdely        7.3   338  205  13    4  60.7  131.8  16  6.9  2331
A.J. Feeley        7.6   259  136  10    6  52.5  129.0  14  7.5  1951
A.J. McCarron      9.6   978  656  40   15  67.1  163.3  74  8.8  8630
A.J. Suggs         5.0   363  208  13   15  57.3  111.8  12  6.2  2242
...                ...   ...  ...  ..  ...   ...    ...  ..  ...   ...
Zack Mills         5.7  1082  606  43   39  55.9  116.5  41  6.6  7212
Zack Threadgill    7.0   451  275  12   17  61.0  136.1  26  7.6  3418
Zak Clark          5.3   179   88  10    4  49.2  102.7   6  5.6  1000
Zak Kustok         6.6   767  437  23   17  57.0  125.0  39  6.6  5081
Zebbie Lethridge   6.0   261  134  11    4  51.3  108.1   6  6.2  1622

[1178 rows x 10 columns]

In [12]:
career_stats.to_csv(path_data+'college-1997-2016.csv')

### NFL

In [13]:
nfl = pd.concat(map(pd.read_csv, glob.glob(path_nfl + 'pass*.csv')), sort=True)

In [14]:
nfl = nfl[(nfl['Att'] >=100)]

In [15]:
nfl = nfl.set_index(['Player']).sort_index()
nfl.index = nfl.index.str.split('+', n=1, expand=True)
nfl = nfl.droplevel(1)

In [16]:
nfl.index = nfl.index.str.split('*', n=1, expand=True)
nfl = nfl.droplevel(1)

In [17]:
nfl.index = nfl.index.str.split('\\', n=1, expand=True)
nfl = nfl.droplevel(1)

In [18]:
nfl.index.name = 'Player'

In [19]:
#calculate career win percentage
qb_record = nfl['QBrec']
qb_record = qb_record.iloc[:].str.split(r'\-|/', n = 1, expand = True)
qb_record[1] = qb_record.iloc[:,1].str.split(r'\-|/', n=1, expand = True)
qb_record = qb_record.rename(columns={0: 'win', 1:'loss'})
qb_record[['win', 'loss']] = qb_record[['win','loss']].astype(int)
qb_record = qb_record.groupby(level=0).sum()
qb_record['win_percentage'] = (qb_record['win'] / (qb_record['win'] + qb_record['loss']))

In [20]:
#qb total int 
qb_int = nfl['Int']
qb_int = qb_int.groupby(qb_int.index).sum()

#qb total td
qb_td = nfl['TD']
qb_td = qb_td.groupby(qb_td.index).sum()

#qb total yards
qb_yards = nfl['Yds']
qb_yards = qb_yards.groupby(qb_yards.index).sum()

#qb total games
qb_games = nfl['G']
qb_games = qb_games.groupby(qb_games.index).sum()

#qb sacks
qb_sacks = nfl['Sk']
qb_sacks = qb_sacks.groupby(qb_sacks.index).sum()

In [21]:
#nfl average passer rating
rate_avg = nfl['Rate'].mean()

#nfl average ypa
ypa_avg = nfl['Y/A'].mean()

#nfl average aya
aya_avg = nfl['AY/A'].mean()

In [22]:
ypa_avg = round(ypa_avg, 2)
rate_avg = round(rate_avg, 2)

print(ypa_avg)
print(rate_avg)

6.89
81.91

In [23]:
#qb average for qbs playing from 2009-2019, replace necessary columns with career totals 
nfl = nfl.groupby(level=0).mean().round(1)
nfl.sort_values(by=['Y/A'], ascending=False)
nfl['win_pct'] = qb_record['win_percentage']
nfl['Int'] = qb_int
nfl['TD'] = qb_td
nfl['Yds'] = qb_yards
nfl['G'] = qb_games
nfl['Sk'] = qb_sacks

In [24]:
nfl.head()

,1D,4QC,ANY/A,AY/A,Age,Att,Cmp,Cmp%,G,GS,...,Sk%,TD,TD%,Y/A,Y/C,Y/G,Yds,Yds.1,Year,win_pct
Player,,,,,,,,,,,,,,,,,,,,,
A.J. Feeley,59.7,2.0,4.2,4.7,27.3,204.3,112.0,55.6,20,5.0,...,4.4,22,4.0,6.2,11.1,189.2,3585,64.7,NaN,0.466667
A.J. McCarron,NaN,NaN,6.3,7.4,25.0,119.0,79.0,66.4,7,3.0,...,9.2,6,5.0,7.2,10.8,122.0,854,63.0,2015.0,0.666667
Aaron Brooks,138.6,2.0,5.2,6.2,27.0,423.3,239.0,56.7,93,12.9,...,7.7,123,3.9,6.8,12.0,210.2,20261,207.7,NaN,0.422222
Aaron Rodgers,186.5,1.3,7.3,8.4,30.5,500.2,323.2,64.8,174,14.5,...,6.9,363,6.1,7.8,12.0,267.3,46617,241.5,2014.0,0.653179
Akili Smith,47.0,1.0,2.8,3.8,24.5,210.0,99.0,48.2,19,7.5,...,11.4,5,1.2,5.0,10.4,109.7,2058,150.5,NaN,0.200000

In [25]:
nfl.to_csv('nfl-passing-1998-2017')

### Merge NFL and College Training Data

In [26]:
path = '../../capstone_project_1/data'

In [27]:
df = pd.merge(nfl, career_stats, on='Player', how='inner', suffixes = ('_NFL', '_College'))

In [28]:
df

,1D,4QC,ANY/A,AY/A_NFL,Age,Att_NFL,Cmp_NFL,Cmp%,G_NFL,GS,...,AY/A_College,Att_College,Cmp_College,G_College,Int_College,Pct,Rate_College,TD_College,Y/A_College,Yds_College
Player,,,,,,,,,,,,,,,,,,,,,
A.J. Feeley,59.7,2.0,4.2,4.7,27.3,204.3,112.0,55.6,20,5.0,...,7.6,259,136,10,6,52.5,129.0,14,7.5,1951
A.J. McCarron,NaN,NaN,6.3,7.4,25.0,119.0,79.0,66.4,7,3.0,...,9.6,978,656,40,15,67.1,163.3,74,8.8,8630
Aaron Brooks,138.6,2.0,5.2,6.2,27.0,423.3,239.0,56.7,93,12.9,...,8.1,560,320,22,16,57.2,139.7,32,8.2,4601
Aaron Rodgers,186.5,1.3,7.3,8.4,30.5,500.2,323.2,64.8,174,14.5,...,8.6,665,424,25,13,63.8,150.4,43,8.2,5469
Akili Smith,47.0,1.0,2.8,3.8,24.5,210.0,99.0,48.2,19,7.5,...,8.8,571,323,23,15,56.0,147.0,45,8.5,5148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Troy Smith,NaN,2.0,6.0,7.6,26.0,145.0,73.0,50.3,6,6.0,...,9.7,548,352,24,10,64.1,162.3,46,8.9,4824
Tyler Palko,NaN,NaN,3.0,3.9,28.0,134.0,80.0,59.7,6,4.0,...,8.0,1072,643,35,25,60.4,141.7,66,7.8,8330
Tyrod Taylor,NaN,1.0,6.3,7.4,27.0,412.0,258.0,62.7,44,14.3,...,9.6,558,324,27,10,57.8,152.1,37,9.1,5054
Vince Young,125.0,1.8,5.4,6.1,25.6,253.6,146.6,58.0,57,9.8,...,8.0,575,360,25,21,62.2,146.2,38,8.4,4885
Zach Mettenberger,NaN,NaN,4.5,5.6,23.5,172.5,104.0,60.3,14,5.0,...,9.0,648,399,25,15,61.8,149.9,34,8.9,5691

In [29]:
above_nfl_ypa = [1 if ypa >= ypa_avg else 0 for ypa in df['Y/A_NFL'] ]
df['above_nfl_ypa'] = above_nfl_ypa

df.columns

Index(['1D', '4QC', 'ANY/A', 'AY/A_NFL', 'Age', 'Att_NFL', 'Cmp_NFL', 'Cmp%',
       'G_NFL', 'GS', 'GWD', 'Int_NFL', 'Int%', 'Lng', 'NY/A', 'QBR',
       'Rate_NFL', 'Rk', 'Sk', 'Sk%', 'TD_NFL', 'TD%', 'Y/A_NFL', 'Y/C', 'Y/G',
       'Yds_NFL', 'Yds.1', 'Year', 'win_pct', 'AY/A_College', 'Att_College',
       'Cmp_College', 'G_College', 'Int_College', 'Pct', 'Rate_College',
       'TD_College', 'Y/A_College', 'Yds_College', 'above_nfl_ypa'],
      dtype='object')

In [30]:
above_nfl_rate = [1 if rate >= rate_avg else 0 for rate in df['Rate_NFL']]
df['above_nfl_rate'] = above_nfl_rate

df.columns

Index(['1D', '4QC', 'ANY/A', 'AY/A_NFL', 'Age', 'Att_NFL', 'Cmp_NFL', 'Cmp%',
       'G_NFL', 'GS', 'GWD', 'Int_NFL', 'Int%', 'Lng', 'NY/A', 'QBR',
       'Rate_NFL', 'Rk', 'Sk', 'Sk%', 'TD_NFL', 'TD%', 'Y/A_NFL', 'Y/C', 'Y/G',
       'Yds_NFL', 'Yds.1', 'Year', 'win_pct', 'AY/A_College', 'Att_College',
       'Cmp_College', 'G_College', 'Int_College', 'Pct', 'Rate_College',
       'TD_College', 'Y/A_College', 'Yds_College', 'above_nfl_ypa',
       'above_nfl_rate'],
      dtype='object')

In [31]:
columns = ['Rate_NFL', 'Y/A_NFL','win_pct', 'AY/A_College', 'Att_College',
       'Cmp_College', 'G_College', 'Int_College', 'Pct', 'Rate_College',
       'TD_College', 'Y/A_College', 'Yds_College', 'above_nfl_ypa',
       'above_nfl_rate']

In [32]:
df = df[columns]

In [33]:
df.to_csv('ml-data.csv')

In [34]:
df['above_nfl_ypa'].value_counts()

0    89
1    62
Name: above_nfl_ypa, dtype: int64

In [35]:
df['above_nfl_rate'].value_counts()

0    94
1    57
Name: above_nfl_rate, dtype: int64

# Create Testing Data

### College

In [36]:
testing_college = pd.concat(map(pd.read_csv, glob.glob(path_college + 'testing*.csv')),sort = True)

In [37]:
#split player names out
player_names = testing_college['Player']
player_names = player_names.iloc[:].str.split('*', n=1, expand=True)
player_names = player_names.iloc[:, 0].str.split('\\', n=1, expand = True)
player_names = player_names.drop([1], axis=1)
player_names = player_names.rename(columns={0:'Player'})

In [38]:
testing_college['Player'] = player_names['Player']

In [39]:
testing_college = testing_college.set_index(['Player']).sort_index()

In [40]:
#total td
qb_td = testing_college['TD']
qb_td = qb_td.groupby(qb_td.index).sum()
#total int
qb_int = testing_college['Int']
qb_int = qb_int.groupby(qb_int.index).sum()
#total yds
qb_yds = testing_college['Yds']
qb_yds = qb_yds.groupby(qb_yds.index).sum()
#total games
qb_games = testing_college['G']
qb_games = qb_games.groupby(qb_games.index).sum()
#total att
qb_att = testing_college['Att']
qb_att = qb_att.groupby(qb_att.index).sum()
#total cmp
qb_cmp = testing_college['Cmp']
qb_cmp = qb_cmp.groupby(qb_cmp.index).sum()

In [41]:
#qb stats, replace necessary columns with totals
career_stats = testing_college.groupby(testing_college.index).mean().round(1)
career_stats['TD'] = qb_td
career_stats['Int'] = qb_int
career_stats['Yds'] = qb_yds
career_stats['G'] = qb_games
career_stats['Att']  = qb_att
career_stats['Cmp'] = qb_cmp

In [42]:
testing_college = career_stats.drop(['Rk'], axis=1)

In [43]:
testing_college.to_csv(path_data+'college-testing.csv')

### NFL

In [44]:
testing_nfl = pd.concat(map(pd.read_csv, glob.glob(path_nfl + 'testing*.csv')), sort=True)

In [45]:
testing_nfl = testing_nfl[(testing_nfl['Att'] >=100)]

In [46]:
testing_nfl = testing_nfl.set_index(['Player']).sort_index()
testing_nfl.index = testing_nfl.index.str.split('+', n=1, expand=True)
testing_nfl = testing_nfl.droplevel(1)

In [47]:
testing_nfl.index = testing_nfl.index.str.split('*', n=1, expand=True)
testing_nfl = testing_nfl.droplevel(1)

In [48]:
testing_nfl.index = testing_nfl.index.str.split('\\', n=1, expand=True)
testing_nfl = testing_nfl.droplevel(1)

In [49]:
testing_nfl.index.name = 'Player'

In [50]:
testing_nfl.info()

<class 'pandas.core.frame.DataFrame'>
Index: 83 entries, Aaron Rodgers to Tom Brady
Data columns (total 31 columns):
1D       42 non-null float64
4QC      66 non-null float64
ANY/A    83 non-null float64
AY/A     83 non-null float64
Age      83 non-null int64
Att      83 non-null int64
Cmp      83 non-null int64
Cmp%     83 non-null float64
G        83 non-null int64
GS       83 non-null int64
GWD      66 non-null float64
Int      83 non-null int64
Int%     83 non-null float64
Lng      83 non-null int64
NY/A     83 non-null float64
Pos      83 non-null object
QBR      83 non-null float64
QBrec    83 non-null object
Rate     83 non-null float64
Rk       42 non-null float64
Sk       83 non-null int64
Sk%      83 non-null float64
TD       83 non-null int64
TD%      83 non-null float64
Tm       83 non-null object
Y/A      83 non-null float64
Y/C      83 non-null float64
Y/G      83 non-null float64
Yds      83 non-null int64
Yds.1    83 non-null int64
Year     83 non-null int64
dtypes: float64(16), int64(12), object(3)
memory usage: 20.8+ KB

In [51]:
#calculate career win percentage
qb_record = testing_nfl['QBrec']
qb_record = qb_record.iloc[:].str.split(r'\-|/', n = 1, expand = True)
qb_record[1] = qb_record.iloc[:,1].str.split(r'\-|/', n=1, expand = True)
qb_record = qb_record.rename(columns={0: 'win', 1:'loss'})
qb_record[['win', 'loss']] = qb_record[['win','loss']].astype(int)
qb_record = qb_record.groupby(level=0).sum()
qb_record['win_percentage'] = (qb_record['win'] / (qb_record['win'] + qb_record['loss']))

In [52]:
#qb total int 
qb_int = testing_nfl['Int']
qb_int = qb_int.groupby(qb_int.index).sum()

#qb total td
qb_td = testing_nfl['TD']
qb_td = qb_td.groupby(qb_td.index).sum()

#qb total yards
qb_yards = testing_nfl['Yds']
qb_yards = qb_yards.groupby(qb_yards.index).sum()

#qb total games
qb_games = testing_nfl['G']
qb_games = qb_games.groupby(qb_games.index).sum()

#qb sacks
qb_sacks = testing_nfl['Sk']
qb_sacks = qb_sacks.groupby(qb_sacks.index).sum()

In [53]:
#qb average for qbs playing from 2009-2019, replace necessary columns with career totals 
testing_nfl = testing_nfl.groupby(level=0).mean().round(1)
testing_nfl.sort_values(by=['Y/A'], ascending=False)
testing_nfl['win_pct'] = qb_record['win_percentage']
testing_nfl['Int'] = qb_int
testing_nfl['TD'] = qb_td
testing_nfl['Yds'] = qb_yards
testing_nfl['G'] = qb_games
testing_nfl['Sk'] = qb_sacks

### Merge NFL and College Testing Data

In [54]:
df_testing = pd.merge(testing_nfl, testing_college, on='Player', how='inner', suffixes = ('_NFL', '_College'))

In [55]:
above_nfl_ypa = [1 if ypa >= ypa_avg else 0 for ypa in df_testing['Y/A_NFL'] ]
df_testing['above_nfl_ypa'] = above_nfl_ypa

df_testing.columns

Index(['1D', '4QC', 'ANY/A', 'AY/A_NFL', 'Age', 'Att_NFL', 'Cmp_NFL', 'Cmp%',
       'G_NFL', 'GS', 'GWD', 'Int_NFL', 'Int%', 'Lng', 'NY/A', 'QBR',
       'Rate_NFL', 'Rk', 'Sk', 'Sk%', 'TD_NFL', 'TD%', 'Y/A_NFL', 'Y/C', 'Y/G',
       'Yds_NFL', 'Yds.1', 'Year', 'win_pct', 'AY/A_College', 'Att_College',
       'Cmp_College', 'G_College', 'Int_College', 'Pct', 'Rate_College',
       'TD_College', 'Y/A_College', 'Yds_College', 'above_nfl_ypa'],
      dtype='object')

In [56]:
above_nfl_rate = [1 if rate >= rate_avg else 0 for rate in df_testing['Rate_NFL']]
df_testing['above_nfl_rate'] = above_nfl_rate

df_testing.columns

Index(['1D', '4QC', 'ANY/A', 'AY/A_NFL', 'Age', 'Att_NFL', 'Cmp_NFL', 'Cmp%',
       'G_NFL', 'GS', 'GWD', 'Int_NFL', 'Int%', 'Lng', 'NY/A', 'QBR',
       'Rate_NFL', 'Rk', 'Sk', 'Sk%', 'TD_NFL', 'TD%', 'Y/A_NFL', 'Y/C', 'Y/G',
       'Yds_NFL', 'Yds.1', 'Year', 'win_pct', 'AY/A_College', 'Att_College',
       'Cmp_College', 'G_College', 'Int_College', 'Pct', 'Rate_College',
       'TD_College', 'Y/A_College', 'Yds_College', 'above_nfl_ypa',
       'above_nfl_rate'],
      dtype='object')

In [57]:
columns = ['Rate_NFL', 'Y/A_NFL','win_pct', 'AY/A_College', 'Att_College',
       'Cmp_College', 'G_College', 'Int_College', 'Pct', 'Rate_College',
       'TD_College', 'Y/A_College', 'Yds_College', 'above_nfl_ypa',
       'above_nfl_rate']

In [58]:
df_testing = df_testing[columns]

In [59]:
df_testing.to_csv('testing-data.csv')

In [60]:
df_testing['above_nfl_rate'].value_counts()

1    7
0    5
Name: above_nfl_rate, dtype: int64

In [61]:
df_testing['above_nfl_ypa'].value_counts()

0    7
1    5
Name: above_nfl_ypa, dtype: int64

In [62]:
df_testing

,Rate_NFL,Y/A_NFL,win_pct,AY/A_College,Att_College,Cmp_College,G_College,Int_College,Pct,Rate_College,TD_College,Y/A_College,Yds_College,above_nfl_ypa,above_nfl_rate
Player,,,,,,,,,,,,,,,
Baker Mayfield,86.2,7.4,0.413793,12.9,404,285,14,6,70.5,198.9,43,11.5,4627,1,1
Daniel Jones,87.7,6.6,0.250000,6.2,845,494,24,20,58.6,121.8,36,6.4,5365,0,1
David Blough,64.0,5.7,0.000000,8.1,462,305,13,10,66.0,146.9,25,8.0,3705,0,0
Drew Lock,89.7,6.5,0.800000,9.4,856,517,26,21,60.4,156.7,72,8.8,7462,0,1
Dwayne Haskins,76.1,6.7,0.285714,10.3,533,373,14,8,70.0,174.1,50,9.1,4831,0,0
Gardner Minshew,91.2,7.0,0.500000,7.4,966,642,23,16,64.0,138.4,54,7.1,6919,1,1
Josh Allen,76.6,6.6,0.555556,6.9,270,152,11,6,56.3,127.8,16,6.7,1812,0,0
Josh Rosen,59.4,5.5,0.187500,8.5,452,283,11,10,62.6,147.0,26,8.3,3756,0,0
Kyler Murray,87.4,6.9,0.333333,13.0,377,260,14,7,69.0,199.2,42,11.6,4361,1,1
Lamar Jackson,98.9,7.4,0.863636,8.7,430,254,13,10,59.1,146.6,27,8.5,3660,1,1
Mason Rudolph,82.0,6.2,0.625000,10.7,489,318,13,9,65.0,170.6,37,10.0,4904,0,1
Sam Darnold,80.9,6.9,0.423077,8.5,480,303,14,13,63.1,148.1,26,8.6,4143,1,0

In [63]:
df_testing.iloc[-2]

Rate_NFL            82.000
Y/A_NFL              6.200
win_pct              0.625
AY/A_College        10.700
Att_College        489.000
Cmp_College        318.000
G_College           13.000
Int_College          9.000
Pct                 65.000
Rate_College       170.600
TD_College          37.000
Y/A_College         10.000
Yds_College       4904.000
above_nfl_ypa        0.000
above_nfl_rate       1.000
Name: Mason Rudolph, dtype: float64

In [64]:
df_testing.iloc[-4]

Rate_NFL            87.400000
Y/A_NFL              6.900000
win_pct              0.333333
AY/A_College        13.000000
Att_College        377.000000
Cmp_College        260.000000
G_College           14.000000
Int_College          7.000000
Pct                 69.000000
Rate_College       199.200000
TD_College          42.000000
Y/A_College         11.600000
Yds_College       4361.000000
above_nfl_ypa        1.000000
above_nfl_rate       1.000000
Name: Kyler Murray, dtype: float64